IMPORT compress

VAR b, t: Bytes
VAR s: String

s := "hello gzip world"
b := compress.gzip(s.encodeUTF8())
t := compress.gunzip(b)
print(t.decodeUTF8().expectString())
--= hello gzip world

s := "hello bzip2 world"
b := compress.bzip2(s.encodeUTF8())
t := compress.bunzip2(b)
print(t.decodeUTF8().expectString())
--= hello bzip2 world

s := "hello lzma world"
b := compress.lzma(s.encodeUTF8())
t := compress.unlzma(b)
print(t.decodeUTF8().expectString())
--= hello lzma world
